urllib3 @ http://us-python.pkg.dev/cloud-aoss/cloud-aoss-python/urllib3/urllib3-1.26.8-py2.py3-none-any.whl
functions-framework==3.0.0
google-cloud-bigquery[bqstorage,pandas]==3.7.0
google-cloud-storage==2.7.0
pandas==1.5.3
weasyprint==52.5
